

body {
    background-image: url(img/pexels-tobias-bjørkli-1819651.jpg);
    color: whitesmoke;
    text-align: center;
    background-size: cover;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

#photo {
    border: 4px solid #FBF2B7;
    border-radius: 20px;

}
